/* 
  Специально для светлой темы при наличии класса. 
  Здесь окажутся стили, которые нужно переопределить принудительно, 
  переключая тему 
*/ 
 
.page.theme_light { 
  --accent-color: #353430; 
  --text-color: #353430; 
  --paragraph-text: #353430;   
  --background-image: url(../images/cover-image-light.png); 
  --title-color: #FFC2E6; 
  --background-color: #FF8DCB; 
  --color-hover: #32312D66; 
  --display-decorated: 0;
  --body-color: #FFF1F7;

   
} 



 
@media(prefers-color-scheme: light) { 
:root { 
  --accent-color: #353430; 
  --text-color: #353430; 
  --paragraph-text: #353430;   
  --background-image: url(../images/cover-image-light.png); 
  --title-color: #FFC2E6; 
  --background-color: #FF8DCB; 
  --color-hover: #32312D66; 
  --display-decorated: 0;
  --body-color: #FFF1F7;
  } 
  
}